html,body{

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.nav-link{

    color:#fff;

}

.parallax{

    height:500px;
    max-width:100%;
    background-image:url("../imagens/computer.png");
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    background-repeat:no-repeat;
    color:#fff;
    text-align:center;

}

.textinho{

        display:block;
}

.textao{

        color:#62a8f8;

}
.sobre{
    
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    position:relative;

}


.imagemJeff{

    display:flex;
    align-items:center;
    justify-content:center;
    max-width:100%;
    position:relative;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin:10px;

}

.quali{

    display:block;
    width:100%;
    justify-content:center;
    align-items:center;
    text-align:center;

}

.concurri{

        background-color:#000;
        display:flex;
        justify-content:center;
        align-items:center;
        widows:100%;
        height:100px;

}

.concurri a{

        margin:10px;
       


}

.contate-me{

        width:100%;
        height:400px;
        display:flex;
        justify-content:center;
        align-items:center;
        
}

.fundo{

    max-width:100%;
    height:500px;
    background-image: url("../imagens/fundoForm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    background-repeat:no-repeat;
   
    

}

.cax{

    width:350px;
    position:relative;
    padding:3px;
    background-color:#fff;
    border-radius:5%;
    color:#000;
    text-align: center;
   

}

.cont{
        color:rgb(73, 71, 71);
        font-family: monospace;
}

.footer{
        
        width:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        padding:30px;

}

.redess{

        position:relative;
        
}

.fo{
        margin:10px;
}

.ca{

        border:1px solid #000;
        box-shadow:5px 10px #000;
        margin:10px;
}
.loading{
        display:none;
}